extends ./_layout
block content
  ul.post-list
    each post in page.posts.data
      li 
        p.date #{time(post.date, 'LL')}
        h4.title
          a(href=url_for(post.path)) #{post.title}
        .excerpt !{post.excerpt}
        ul.meta
          li
            i.icon.icon-author 
            | #{config.author}
          li
            i.icon.icon-clock 
            | #{parseInt(post.content.length/900)} Minutes
  include ./_partial/pagination.pug