doctype html
html(lang="zh-cn")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge")
    meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(name="format-detection",content="telephone=no")
    meta(name="format-detection",content="email=no")
    meta(name="description",content=config.description)
    meta(name="keywords",content=theme.keywords)
    title #{page.title ? page.title + ' - ' + config.title : config.title + (config.subtitle ? (' - ' + config.subtitle) : '')}
    link(rel="stylesheet", href="/css/main_style.min.css")
    link(rel="icon", href=theme.favicon)
  body
    input#navi(type="checkbox")
    ul.main-navication
      li
        a(href='/')
          span Home
      if theme.navication && theme.navication.length
        each item in theme.navication
          li
            a(href=item.link)
              if item.type
                i(class="icon icon"+item.type)
              span #{item.name}
    .wrapper#wrap
      block content
      include ./footer.pug
    block script
    script.
      var wrap = document.getElementById('wrap');
      window.onload = function () {
        wrap.className += ' done';
      }